spring:
    redis:
        host: <uri>
        port: <port>
    data:
        mongodb:
            uri: <db-uri>
            database: <db-name>
            auto-index-creation: true
    mail:
        host: <provider>
        port: <port>
        username: <email>
        password: <password>
        properties:
            mail:
                smtp:
                    auth: true
                    starttls:
                        enable: true

server:
    error:
        include-stacktrace: never