spring:
    redis:
        host: <domain>
        port: <port>

    datasource:
        url: jdbc:postgresql://<domain>:<port>/<db-name>
        username: <db-username>
        password: <db-password>
    jpa:
        hibernate:
            ddl-auto: update

    mail:
        host: <provider>
        port: <port>
        username: <email>
        password: <app-password>
        properties:
            mail:
                smtp:
                    auth: true
                    starttls:
                        enable: true

rqueue:
  retry:
    enabled: true

server:
    error:
        include-stacktrace: never